@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Stardos+Stencil:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #0f0f0f;
  color: #fff;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Sections */
section {
  padding: 4rem 2rem;
  max-width: 1250px;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 700;
  color: #a78bfa;
}

p {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
}

.highlight {
  color: #a78bfa;
}

.intro{
    text-align: center;
    padding-top: 6rem;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 14px;
    background: linear-gradient(45deg, #a78bfa, #06b6d4);;
    color: black;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);

}

.navbar .left {
    display: flex;             
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.navbar .logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 18px;
}

.navbar .logo img {
    width: 40px;
    width: 40px;
    border-radius: 7px;
}

.navbar .contents {
      display: flex;
      align-items: center;
      gap: 20px;
    }

.navbar .contents a{
    text-decoration: none;  
    color: black;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    transition: transform 0.2s ease;
}

.navbar .contents :hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    background: silver;
}

.navbar .right a{
    text-decoration: none;  
    color: black;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    transition: transform 0.2s ease;
}

.navbar .right :hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    background: silver;
}
.navbar .right {
      display: flex;
      align-items: center;
      gap: 16px;
    }

.navbar .right a {
  background-color: gold;
  border-radius: 10px;
}

#eventHeading {
  font-family: 'Black Ops One';
  font-weight: bold;
  font-size: 75px;
  margin-bottom: 0px;
}

#eventDateIntro {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
}

#eventTimeIntro {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
  
}

#eventPlaceIntro {
  margin-top: 0px;
  font-size: 25px;
}

#eventDescriptionIntro {
  font-size: 19px;
}

/*Discover Tinkerhub */
#TinkerHubIntro{
  text-align: center;
}

#discoverTinkerHub{
  color: #a78bfa;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

/* EventOverview */
.eventOverview {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

#eventGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.5rem;
  text-align: center;
}

#eventOverviewHeading{
  color: #a78bfa;;
  font-size: 30px;
  font-weight: bold;
}

.eventCard {
  width: 500px;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  background-color: #1a1a1a; /* Dark background like your image */
  color: #fff;
  font-family: Arial, sans-serif;
  transition: transform 0.3s, box-shadow 0.3s;
}

.eventCard:hover {
  transform: translateY(-5px);
  background: #222;
}

.eventCardImg {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Timeline */
.timeline {
  align-items: center;
  text-align: center;
}
#timelineHeading{
  color: #a78bfa;;
  font-size: 30px;
  font-weight: bold;
}

#timelineGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  text-align: center;
  left: 50%;
}

.timeCard {
  display: flex;      
  flex-direction: row; 
  justify-content: center; 
  align-items: center;    
  gap: 10px;             
  width: auto;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  background-color: #1a1a1a; /* Dark background like your image */
  color: #fff;
  font-family: Arial, sans-serif;
  transition: transform 0.3s, box-shadow 0.3s;
}

.timeCard:hover {
  transform: translateY(-5px);
  background: #222;
}
.activity{
  display: flex;      
  gap: 10px;           
  margin-right: auto;
}

.activityInfo {
  display: flex;      
  gap: 10px;           
  margin-left: auto;
}

/*Registration */
.registration{
  text-align: center;
}

#registrationHeading{
  color: #a78bfa;;
  font-size: 30px;
  font-weight: bold;
}

#registrationLink {
  text-decoration: none;
  background-color: rgb(60, 0, 255);
  border-radius: 10px;
  color: white;
  padding: 10px;
}

/* Sponsors */
.sponsors{
  text-align: center;
}
#sponsorsHeading{
  color: #a78bfa;;
  font-size: 30px;
  font-weight: bold;
}

#sponsorsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.5rem;
  text-align: center;
}
.sponsorCard {
  width: auto;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  background-color: #1a1a1a; /* Dark background like your image */
  color: #fff;
  font-family: Arial, sans-serif;
  transition: transform 0.3s, box-shadow 0.3s;
}

.sponsorCardImg {
  width: 50%;
  height: 180px;
  object-fit: cover;
}

/* Contact */
.contact{
  text-align: center;
}
#contactHeading{
  color: #a78bfa;;
  font-size: 30px;
  font-weight: bold;
}

#contactGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.5rem;
  text-align: center;
}
.contactCard {
  width: auto;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  background-color: #1a1a1a; /* Dark background like your image */
  color: #fff;
  font-family: Arial, sans-serif;
  transition: transform 0.3s, box-shadow 0.3s;
}

.contactCardImg {
  width: 50%;
  height: 180px;
  object-fit: cover;
}
